@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap');

main{
    width: 100%;
}

/*Estilização do Header, sem responsividade*/

header{
    background-image: linear-gradient(to right, #e9492a, #e72357);
    height: 250px;
    position: relative;
    display: flex;
}
header .textoLateral{
    color: #ffff;
    position: absolute;
    margin-top: 45px;
    margin-left: 78%;
    margin-bottom: 10px;
    text-align: right;
    width: 400px;
    height: 150px;    
}
header .textoLateral h1{
    position: absolute;
    margin-bottom: 15px;
}
header .textoLateral .edicao{
    margin-top: 137px;
    margin-right: 28%;
}
header .logotipoMulher{
    position: absolute;
    margin-left: 50%;
    margin-top: 131px;
    width: 180px;
}
header .logotipoMandTrends{
    position: absolute;
    margin-left: 5%;
    margin-top: 60px;
    width: 250px;
}
header .vetorCircular{
    position: absolute;
    margin-top: 60px;
    width: 155px;
}
header .vetorSetas{
    position: absolute;
    margin-left: 50%;
    margin-top: 70px;
    width: 60px;
}
header .vetorQuadrado{
    position: absolute;
    margin-left: 40%;
    margin-top: 220px;
    width: 45px;
}
header .vetorTriangulo{
    position: absolute;
    margin-left: 95%;
    margin-top: 12px;
    width: 36px;
}
header .vetorOndulado{
    position: absolute;
    margin-left: 87%;
    margin-top: 213px;
    width: 125px;
}

/*Estilização dos Artigos, sem responsividade*/

article{
    width: 100%;
}
article .noticiaDestaque{
    position: relative;
    width: 700px;
    margin: auto;
    margin-top: 50px;
    z-index: 1000;
    text-decoration: none;
}
article .noticiaDestaque .imgagemDestaque{
    width: 700px;
    display: block;
    margin: auto;
}
article .noticiaDestaque h1{
    margin-top: 10px;
    font-size: 1.8em;
    color: #000000;
    transition: 0.1s;
}
article .noticiaDestaque h1:hover{
    color: #e72357;
}
article p{
    margin-top: 10px;
    font-size: 1.1em;
    color: #74787a;
    text-align: justify;
}
article .fonte{
    font-style: italic;
    margin-top: 20px;
}
article a{
    text-decoration: none;
}
article .barraNoticia{
    margin-top: 10px;
    height: 6px;
    width: 45%;
    background-image: linear-gradient(to right, #e62259, #6b5ba3);
}
article .subNoticias{
    max-width: 700px;
    min-width: 350px;
    margin-top: 50px;
    padding-top: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
article .subNoticias .noticia1, .noticia2{
    width: 350px;
    margin: auto;
}
article .subNoticias .noticia1 img{
    width: 328px;
}
article .subNoticias .noticia2 img{
    width: 340px;
}
article .subNoticias h1{
    padding-top: 10px;
    color: #000000;
    transition: 0.1s;
}
article .subNoticias h1:hover{
    color: #e72357;
}
article .subNoticias p{
    margin-top: 10px;
}
article .subNoticias .noticia1 .barraNoticia{
    width: 55%;
    background-image: linear-gradient(to right, #76c6cf, #675ea5);
}
article .subNoticias .noticia2 .barraNoticia{
    width: 55%;
    background-image: linear-gradient(to right, #75c7ce, #3ab38a);
}